.bg-jb-one {
    background-color: #fcebc5;
}

.bg-jb-two {
    background-color: #f6fcd7;
}

.bg-jb-three {
    background-color: #deeeff;
}

.bg-jb-four {
    background-color: #f5dbff;
}

.bg-jb-five {
    background-color: #ffd4d8;
}
